nav {
  position: absolute;
  top: 4px;
  right: 15px;
  z-index: 10;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    border: 1px solid orange;
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:7px 9px;
    display:block;
}

.nav li a:hover {
    background-color:red;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:110px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

